[submodule "submodules/sysbench"]
	path = submodules/sysbench
	url = https://github.com/carverdamien/sysbench
	branch = libctl
[submodule "filebench"]
	path = submodules/filebench
	url = https://github.com/carverdamien/filebench
[submodule "submodules/grub-list"]
	path = submodules/grub-list
	url = https://github.com/carverdamien/grub-list
