[submodule "submodules/sysbench"]
	path = submodules/sysbench
	url = https://github.com/carverdamien/sysbench
[submodule "submodules/grub-list"]
	path = submodules/grub-list
	url = https://github.com/carverdamien/grub-list
